<div class="profile-show">
  <h1>Profile Page</h1>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img ng-src="{{ profile.user.profileImage }}">
      <h2> Name : {{ profile.user.username }}</h2>
      <h2>Email: {{ profile.user.email }}</h2>
      <h2>Location: {{ profile.user.location }}</h2>
      <button ng-click="profile.open()">EDIT USER</button>
      <button ng-click="profile.delete()">Delete Profile</button>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h2>My Requests</h2>

      <ul>
        <li ng-repeat="item in profile.pending">{{ item }}</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h2>Items Requested</h2>

      <ul>
        <li ng-repeat="request in profile.requested">{{ request }}</li>
      </ul>
    </div>
  </div>
</div>
