<!DOCTYPE html>
<html ng-app="rentApp">
<head>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,700" rel="stylesheet">
  <title>Project 3</title>
<!--
  <script src="./js/mapStyles.js" charset="utf-8"></script> -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEi_tighHwZ4dswlQz7CWXWxpHZ17LzoM"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
 <!-- <script src="http://localhost:4001/socket.io/socket.io.js"></script> -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar">
    <div class="banner">
    <ul>
      <li><a ui-sref="itemsIndex">Index</a></li>
      <li><a ui-sref="itemsNew">New</a></li>
    <!--  <li ng-if="main.isAuthenticated()"><a ui-sref="chatState">Chat</a></li> -->
      <li ng-if="main.isAuthenticated()"><a ui-sref="profile({id: main.profilePageId})">My profile</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
      <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
    </ul>
  </div>
  </nav>
  <div class="nav-extension">
    <h1 class="title">FABRIC</h1>
  </div>
  <div class="message" ng-if="main.message">{{ main.message }}</div>
  <main ui-view class="container">

  </main>
</body>
</html>
