
.bigDiv {
  padding: 1em;
  margin: 0 100px;
  .l-box {
      height: 600px;
      h3 {
        text-align: left;
        font-size: 20px;
      }
      img {
        max-width: 200px;
        display: block;
        margin: 10px;
      }
  }
}

#maps {
  height:400px;
  width: 400px;
}
