<h1>New</h1>
    {{ itemsNew.item}}
<form name="itemsNew.newForm" ng-submit="itemsNew.create()" novalidate >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="itemsNew.item.name" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" name="price" id="price" ng-model="itemsNew.item.price" class="form-control">
  </div>

  <div class="form-group">
    <label for="Size">Size</label><br>
      <select name="size" id="size" ng-model="itemsNew.item.size">
        <option value="extra-small">x-small</option>
        <option value="small">small</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
        <option value="extra-large">x-large</option>
      </select>
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input type="textarea" name="description" id="description" ng-model="itemsNew.item.description" class="form-control">
  </div>

  <div>  
    <label for="category">Category</label><br>
      <select name="category" id="category" ng-model="itemsNew.item.category">
        <option value="Men">Men</option>
        <option value="Women">Women</option>
        <option value="Children">Children</option>
      </select>
  </div>
  <div class="form-group">
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="itemsNew.item.base64">

  </div>

  <button class="btn btn-primary">Create</button>
</form>
