<h1>New</h1>
    {{ itemsNew.item}}
<form name="itemsNew.newForm" ng-submit="itemsNew.create()" novalidate >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="itemsNew.item.name" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" name="price" id="price" ng-model="itemsNew.item.price" class="form-control">
  </div>
  <div class="form-group">
    <label for="numberOfDays">number Of Days</label>
    <input type="text" name="numberOfDays" id="numberOfDays" ng-model="itemsNew.item.numberOfDays" class="form-control">
  </div>
  <div class="form-group">
    <label for="size">size</label>
    <input type="text" name="numberOfDays" id="size" ng-model="itemsNew.item.size" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input type="textarea" name="description" id="description" ng-model="itemsNew.item.description" class="form-control">
  </div>
  <div class="form-group">
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="itemsNew.item.base64">

  </div>

  <button ng-click="itemsNew.create()" class="btn btn-primary">Create</button>
</form>
