<div class="container item-show">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
      <h1>Show</h1>
      <img ng-src="{{ show.item.imageSRC }}">
      <h2>{{ show.item.name }}</h2>
      <a ui-sref="profile({ id: show.item.createdBy.id})">{{show.item.createdBy.username}}</a>
      <input type="hidden" ng-model="show.item.createdBy.location">
      <a ui-sref="itemEdit({ id: show.item.id })">Edit</a>

      <button ng-click="show.delete()">Delete</button>
      {{show.range}}
    </div>
  </div>

  <!-- <div class ="row">
    <div "col-lg-3 col-md-6 col-sm-6" class="info"> -->
    <div class ="info">
      <ul>
        <li>{{ show.item.price }}</li>
        <li>{{ show.item.description }}</li>
        <li>{{ show.item.size }}</li>
        <li>{{ show.item.catagory }}</li>
      </ul>

        <p>{{ show.item.rating }}</p>
        <p>{{ show.item.comments }}</p>
        <button type="button" name="button"></button>
      </div>
        <!-- {{show.item.id}} -->
    <!-- </div>
  </div> -->

      <div id="maps">
      </div>
    </div>
  </div>

<button ng-click="show.delete()">Delete</button>
{{show.request}}
<form name="show.makeRequest" ng-submit="show.sendRequest()" method="post">
  <label for="numberOfDays">Days to rent</label>
  <input type="number" name="numberOfDays" ng-model="show.request.numberOfDays">
  <textarea name="message" ng-model="show.request.message"></textarea>
<button class="btn btn-danger">Request item</button>
</form>

  <ul>
    <li ng-repeat="comment in show.item.comments track by $index"><p>{{ comment.content }}</p><small>{{comment.createdBy.email}}</small>
    <button ng-click="show.deleteComment(comment)">Delete</button></li>
  </ul>

<form ng-submit="show.addComment()">
        <label>Add comment</label>
        <textarea ng-model="show.newComment.content"></textarea>
        <button class="btn">Comment</button>
      </form>

<form>
<input type="range" min="0" max="10" name="radius" ng-model="show.range.radius">
</form>



</div>
